In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('customer_shopping_data.csv')
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [4]:
df['total_price'] = df['quantity'] * df['price']
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,total_price
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,7502.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul,5401.53
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity,300.08
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM,15004.25
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon,242.40
...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon,293.25
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul,20.92
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity,20.92
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park,16800.00
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul,105.57

In [5]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d/%m/%Y')
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,total_price
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,7502.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,5401.53
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,300.08
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,15004.25
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,242.40
...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon,293.25
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul,20.92
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity,20.92
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park,16800.00
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul,105.57

In [6]:
# Generamos IDs únicos para cada dimensión

df['product_id'] = pd.factorize(df['category'] + df['price'].astype(str))[0] + 1
df['payment_method_id'] = pd.factorize(df['payment_method'])[0] + 1
df['shopping_mall_id'] = pd.factorize(df['shopping_mall'])[0] + 1
df['invoice_date_id'] = pd.factorize(df['invoice_date'].dt.strftime('%Y-%m-%d'))[0] + 1
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,total_price,product_id,payment_method_id,shopping_mall_id,invoice_date_id
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,7502.00,1,1,1,1
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,5401.53,2,2,2,2
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,300.08,3,3,3,3
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,15004.25,4,1,4,4
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,242.40,5,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon,293.25,27,1,1,103
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul,20.92,9,3,2,423
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity,20.92,9,2,3,164
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park,16800.00,25,3,5,544
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul,105.57,29,1,6,83

In [7]:

invoice = df[['invoice_no', 'customer_id', 'product_id', 'payment_method_id',
              'invoice_date_id', 'shopping_mall_id', 'quantity', 'total_price']]
invoice = invoice.rename(columns={'invoice_no': 'invoice_id'})
invoice

,invoice_id,customer_id,product_id,payment_method_id,invoice_date_id,shopping_mall_id,quantity,total_price
0,I138884,C241288,1,1,1,1,5,7502.00
1,I317333,C111565,2,2,2,2,3,5401.53
2,I127801,C266599,3,3,3,3,1,300.08
3,I173702,C988172,4,1,4,4,5,15004.25
4,I337046,C189076,5,3,5,1,4,242.40
...,...,...,...,...,...,...,...,...
99452,I219422,C441542,27,1,103,1,5,293.25
99453,I325143,C569580,9,3,423,2,2,20.92
99454,I824010,C103292,9,2,164,3,2,20.92
99455,I702964,C800631,25,3,544,5,4,16800.00
99456,I232867,C273973,29,1,83,6,3,105.57

In [8]:
dim_customer = df[['customer_id', 'gender', 'age']].drop_duplicates()
dim_customer['name'] = ''
dim_customer

      customer_id  gender  age name
0         C241288  Female   28
1         C111565    Male   21
2         C266599    Male   20
3         C988172  Female   66
4         C189076  Female   53
...           ...     ...  ...  ...
99452     C441542  Female   45
99453     C569580    Male   27
99454     C103292    Male   63
99455     C800631    Male   56
99456     C273973  Female   36

[99457 rows x 4 columns]

In [17]:
dim_product = df[['product_id', 'category', 'price']].drop_duplicates()
dim_product['name'] = ''
dim_product

     product_id         category    price name
0             1         Clothing  1500.40
1             2            Shoes  1800.51
2             3         Clothing   300.08
3             4            Shoes  3000.85
4             5            Books    60.60
6             6        Cosmetics    40.66
7             7         Clothing   600.16
8             8         Clothing   900.24
10            9  Food & Beverage    10.46
11           10            Books    15.15
12           11             Toys   143.36
16           12            Books    30.30
17           13  Food & Beverage    15.69
21           14  Food & Beverage     5.23
23           15       Technology  5250.00
24           16            Books    75.75
25           17             Toys    71.68
26           18        Cosmetics   203.30
27           19            Shoes  2400.68
29           20        Cosmetics   121.98
30           21             Toys   107.52
33           22         Clothing  1200.32
41           23        Cosmetics    81.32
51           24            Books    45.45
53           25       Technology  4200.00
64           26        Cosmetics   162.64
67           27         Souvenir    58.65
72           28  Food & Beverage    26.15
75           29         Souvenir    35.19
79           30  Food & Beverage    20.92
82           31         Souvenir    23.46
90           32       Technology  2100.00
91           33             Toys    35.84
100          34       Technology  3150.00
124          35             Toys   179.20
169          36            Shoes   600.17
233          37       Technology  1050.00
238          38            Shoes  1200.34
270          39         Souvenir    46.92
288          40         Souvenir    11.73

In [10]:
dim_payment_method = df[['payment_method_id', 'payment_method']].drop_duplicates()
dim_payment_method = dim_payment_method.rename(columns={'payment_method': 'type'})
dim_payment_method['value_received'] = 0.0
dim_payment_method['value_returned'] = 0.0
dim_payment_method

   payment_method_id         type  value_received  value_returned
0                  1  Credit Card             0.0             0.0
1                  2   Debit Card             0.0             0.0
2                  3         Cash             0.0             0.0

In [11]:
dim_date = df[['invoice_date_id', 'invoice_date']].drop_duplicates()
dim_date['day'] = dim_date['invoice_date'].dt.day
dim_date['month'] = dim_date['invoice_date'].dt.month
dim_date['year'] = dim_date['invoice_date'].dt.year
dim_date = dim_date.drop(columns=['invoice_date'])
dim_date

      invoice_date_id  day  month  year
0                   1    5      8  2022
1                   2   12     12  2021
2                   3    9     11  2021
3                   4   16      5  2021
4                   5   24     10  2021
...               ...  ...    ...   ...
4220              793   29      1  2021
4296              794    1      1  2021
4491              795   12      8  2021
4505              796    8      1  2022
5173              797   11      5  2021

[797 rows x 4 columns]

In [12]:
dim_shopping_mall = df[['shopping_mall_id', 'shopping_mall']].drop_duplicates()
dim_shopping_mall = dim_shopping_mall.rename(columns={'shopping_mall': 'name'})
dim_shopping_mall

    shopping_mall_id               name
0                  1             Kanyon
1                  2     Forum Istanbul
2                  3          Metrocity
3                  4       Metropol AVM
6                  5       Istinye Park
7                  6   Mall of Istanbul
11                 7  Emaar Square Mall
13                 8        Cevahir AVM
15                 9     Viaport Outlet
17                10       Zorlu Center

In [13]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine("postgresql://neondb_owner:npg_7KZJCiGBeD5A@ep-still-sunset-a42790y3-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require")

In [15]:
invoice.to_sql('invoice', engine, if_exists='replace', index=False)
dim_customer.to_sql('dim_customer', engine, if_exists='replace', index=False)
dim_product.to_sql('dim_product', engine, if_exists='replace', index=False)
dim_payment_method.to_sql('dim_payment_method', engine, if_exists='replace', index=False)
dim_date.to_sql('dim_date', engine, if_exists='replace', index=False)

797

In [16]:
dim_shopping_mall.to_sql('dim_shopping_mall', engine, if_exists='replace', index=False)

10